<!DOCTYPE html>
<html>

<head>
    <title>{{user.username}}'s Profile</title>
</head>

<body>
    <h1>{{user.username}}'s Profile</h1>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <a href="/users">Users</a>

    <h2>Plants</h2>
    {% if user.plants %}
    <ul>
        {% for plant in user.plants %}
        <li>{{ plant.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>This user has no plants.</p>
    {% endif %}
    <h3>Add a plant</h3>
    <form action="/profile/{{user.username}}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="species">Species</label>
        <select name="species" id="species">
            {% for species in species %}
            <option value="{{species}}">{{species}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add Plant">
</body>

</html>